@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Raleway-Regular";
    src: url("/fonts/Raleway/static/Raleway-Regular.ttf");
  }
  @font-face {
    font-family: "Raleway-Medium";
    src: url("/fonts/Raleway/static/Raleway-Medium.ttf");
  }
  @font-face {
    font-family: "Raleway-SemiBold";
    src: url("/fonts/Raleway/static/Raleway-SemiBold.ttf");
  }
  @font-face {
    font-family: "Raleway-Bold";
    src: url("/fonts/Raleway/static/Raleway-Bold.ttf");
  }

  @font-face {
    font-family: "NeueMachina-Light";
    src: url("/fonts/NeueMachina/NeueMachina-Light.otf");
  }
  @font-face {
    font-family: "NeueMachina-Regular";
    src: url("/fonts/NeueMachina/NeueMachina-Regular.otf");
  }
  @font-face {
    font-family: "NeueMachina-Ultrabold";
    src: url("/fonts/NeueMachina/NeueMachina-Ultrabold.otf");
  }

  :root {
    --background: 209 67% 8%;
    --foreground: 50 95% 56%;
    --card: 209 67% 8%;
    --card-foreground: 50 95% 56%;
    --popover: 209 67% 8%;
    --popover-foreground: 50 95% 56%;
    --primary: 50 95% 56%;
    --primary-foreground: 0 0% 9%;
    --secondary: 52 81% 63%;
    --secondary-foreground: 50 95% 56%;
    --muted: 52 81% 63%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 52 81% 63%;
    --accent-foreground: 50 95% 56%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 50 95% 56%;
    --border: 215 28% 17%;
    --input: 52 81% 63%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
